.idea
.gradle
eureka/build
microservice1/build
microservice2/build
bin
scripts
classes
out
production_app.properties
*.iml
*.ipr
*.iws
microservice1/src/main/resources/resources/bower_components
microservice2/src/main/resources/resources/bower_components
temp
private
